/*
* Configure the babel loader to use @bable/preset-env and @babel/react while compiling the code
*/
{
    "presets": [
        [
            "@babel/preset-env",
        {
            "targets": {
                "node" : "current"
            }
        }
        ],
        "@babel/react"
    ]
}